body{
	margin: 0;
	font-family: Arial;
}
h1{
	font-family: sans-serif;
	color: violet;
	font-size: 50px;
	max-resolution: 30px;
	text-align: center;
}
h6{
	font-family: sans-serif;
	color: violet;
	max-resolution: 30px;
	text-align: center;
}
p{
	text-align: center;
	color: lawngreen;
}
#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}
#container #left{
	margin: 30px;
	float: left;
}
#container #right{
	margin: 30px;
	float: right;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/isko.jpg);
	height: auto;
	background-size: all;
	background-position: center;
}
